# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env*

# React Native
android/app/build/
android/.gradle/
ios/build/
ios/Pods/

# Logs
logs
*.log

# Build
build/
dist/
